<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raid Power Calculator</title>

    <link rel="stylesheet" href="/styles/css/app.css">
    <link rel="stylesheet" href="/styles/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/styles/css/typecolor.css">
</head>

<body class="bg-light">
<div id="app2">
    <nav class="navbar navbar-expand-sm bg-primary">
        <div class="container-fluid container-md ">
            <a class="navbar-brand text-white" href="#">
                <img src="media/images/demologo.png" alt="Logo" class="img-fluid " style="height: 40px;">
                Raid Power
            </a>
            <i class="bi bi-three-dots text-white fs-4 d-sm-none  px-2 py-1" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarCollapse" aria-controls="#offCanvasNav" aria-expanded="false"
               aria-label="Toggle navigation">
            </i>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto d-none d-sm-flex ">
                    <a class="nav-link text-white" href="index.html">Raid Teams</a>
                    <a class="nav-link text-white" href="pokelist.html">Poke-List</a>
                    <a class="nav-link text-white" href="#">Contact</a>
                </div>
            </div>
        </div>
    </nav>


    <!-- Type Selector -->
    <div class="container-fluid  d-sm-none ">
        <div class="row mt-2">

            <label class="slimm">Pokemon Type
                <select class="form-select" id="mobileTypeSelector">
                    <option value="normal">Normal</option>
                    <option value="fire">Fire</option>
                    <option value="water">Water</option>
                    <option value="electric">Electric</option>
                    <option value="grass">Grass</option>
                    <option value="ice">Ice</option>
                    <option value="fighting">Fighting</option>
                    <option value="poison">Poison</option>
                    <option value="ground">Ground</option>
                    <option value="flying">Flying</option>
                    <option value="psychic">Psychic</option>
                    <option value="bug">Bug</option>
                    <option value="rock">Rock</option>
                    <option value="ghost">Ghost</option>
                    <option value="dragon">Dragon</option>
                    <option value="dark">Dark</option>
                    <option value="steel">Steel</option>
                </select>
            </label>

        </div>

    </div>
    <!-- Type selectore ENd -->
    <!-- Card  -->
    <div class="container-fluid container-md" >


        <div class="row g-3 mt-sm-2 mt-1 typecardholder" >
            <div  class="col-12 col-sm-6 col-xl-4 mt-3 typecard" v-for="pokemonTeam in pokemonTeamList" :key="pokemonTeam.id">
                <div class="card" ">

                    <!-- imgs -->
                    <div class="card-body p-2  p-sm-2 p-md-2">

                        <div class="row p-2 py-0 mb-1">
                            <div class="col-10 ps-2 ps-sm-2">
                                <div class="ms-0 ms-sm-1">
                                    <h4 class="fs-2 fw-bold pt-2 mb-0 text-capitalize text-start pb-0">
                                        {{pokemonTeam.type}}</h4>

                                </div>
                            </div>

                            <div class="col-2 d-flex justify-content-end">

                                <div class="p-sm-2 me-sm-1 mt-sm-1 p-2 pb-0 pb-sm-0">
                                    <i class="bi bi-pencil fs-5 " type="button" data-bs-toggle="offcanvas" v-on:click=" getClickedTeam(pokemonTeam)"
                                       data-bs-target="#editTeamOffCanvas"></i>
                                </div>
                            </div>
                            <div class="col-12 ps-2 pe-0">
                                <div class="ms-sm-1">
                                    <span class="fw-semibold fs-5 text-dark mb-0">{{teamCP(pokemonTeam)}}</span>
                                    <span class="text-uppercase fw-bold text-tertiary ms-1 fs-6 mt-2 mb-1">RP</span>
                                    <span class="fw-semibold fs-5 text-dark mb-0 ms-2">{{teamForRaid(pokemonTeam)}}</span>
                                    <span class="text-uppercase fw-bold text-secondary fs-tiny ms-1  mt-2 mb-1">Players per 5* Raid</span>
                                </div>
                            </div>
                        </div>


                        <div class="row g-2 g-sm-2 g-md-2 p-sm-1 ">
                            <div class="col-4 text-center " v-for="pokemon in pokemonTeam.activeTeam">
                                <img class="img-fluid border rounded w-100"
                                     :src="getSpriteLink(returnFullPokemon(pokemon))"
                                     alt="pokemonImg">
                            </div>


                        </div>
                    </div>
                    <!--                    <div class="card-body pt-2 pb-3 ">-->
                    <!--                        -->
                    <!--                       -->
                    <!--                        <div class="text-center">-->
                    <!--                            <button class="mt-3 mb-0 btn btn-primary w-50" data-bs-toggle="offcanvas"-->
                    <!--                                data-bs-target="#editTeamOffCanvas">Edit Team</button>-->
                    <!--                            &lt;!&ndash; editTeamOffCanvas &ndash;&gt;-->
                    <!--                            &lt;!&ndash; PokemonDetailsOffCanvas &ndash;&gt;-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>


    </div>
    <!-- Card End -->
    <!-- Offcanvas Start -->
    <div class="offcanvas offcanvas-end " tabindex="-1" id="editTeamOffCanvas">
        <div class="offcanvas-header bg-primary text-center text-white">
            <h5 class="offcanvas-title" id="editTeamOffCanvasLabel">Edit Team</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="" id="editTeamCollapse">
            <!-- Pokemon horitzonal card -->
            <div class="border-bottom  rounded-0 w-100">

                <div class="row g-0 border-bottom" v-for="activePokemon in activeClickedTeam.activeTeam" :key="activePokemon.Id">
                    <div class="col-3 col-md-2" >
                        <img class="img-fluid"
                             :src="getSpriteLink(returnFullPokemon(activePokemon))"
                             alt="pokemonImg">
                    </div>
                    <div class="col-6 col-md-7">
                        <div class="p-1 ms-1">
                            <p class="fs-5 mb-0 text-capitalize">{{returnFullPokemon(activePokemon).name}}
                                </p>

                            <div class="d-flex mt-0">
                                <p class="me-2 fs-6 mb-0">RP:{{updateCPIfMega(returnFullPokemon(activePokemon))}}</p>
                                <p class="fs-6 mb-0">CP:{{updateCPIfMega(returnFullPokemon(activePokemon))}}</p>

                            </div>

                        </div>
                    </div>

                    <div class="col-3">
                        <div class="d-flex justify-content-end me-4 align-items-center h-100">
                            <i v-if="returnFullPokemon(activePokemon).fastMoveType"
                               :class="getClass(activePokemon.fastMoveType, `rounded mb-1 p-1  fs-tinyer bi bi-lightning-charge`)"></i>
                            <i v-if="returnFullPokemon(activePokemon).chargedMoveType1"
                               :class="getClass(returnFullPokemon(activePokemon).chargedMoveType1, `rounded mb-1 ms-1 fs-tinyer p-1 bi bi-lightning-charge-fill`)"></i>
                            <i v-if="returnFullPokemon(activePokemon).chargedMoveType2"
                               :class="getClass(returnFullPokemon(activePokemon).chargedMoveType2, `rounded mb-1 ms-1   fs-tinyer p-1 bi bi-lightning-charge-fill`)"></i>
                            <i type="button" data-bs-toggle="collapse" :data-bs-target=" `#collapse${returnFullPokemon(activePokemon).Id}`"
                               class="bi bi-pencil ms-2 ms-sm-4"></i>
                        </div>
                    </div>

                    <div class="collapse" :id=" `collapse${returnFullPokemon(activePokemon).Id}`" data-bs-parent="#editTeamCollapse">
                        <div class="card border-0 card-body py-2 pt-0">
                            <div class="row g-1">



                                <div class="col-12 col-sm-6 " v-if="returnFullPokemon(activePokemon).canMegaEvolve">
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#confirmMega"
                                            class="btn btn-secondary w-100" v-on:click="megaClickedPokemon(returnFullPokemon(activePokemon))">Mega
                                    </button>
                                </div>
                                <div :class="{'col-12' : !returnFullPokemon(activePokemon).canMegaEvolve,
                                                'col-12 col-sm-6' : returnFullPokemon(activePokemon).canMegaEvolve}">
                                    <button type="button"
                                            class="btn btn-danger w-100 text-white" v-on:click="removeFromList(returnFullPokemon(activePokemon))">Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pokemon horitzonal card -->

            <!--        Horizontal card table attempt-->


            <!--        horizontal card table attempt end-->


            <div class="p-2">
                <button data-bs-toggle="offcanvas" data-bs-target="#swapPokemonOffCanvas"
                        class="btn btn-primary w-100 fs-4 w-100">
                    Add Pokemon
                </button>
            </div>
            <!-- Pokemon horitzonal card -->
        </div>


    </div>
    <!-- Offcanvas End -->
    <!-- Swap Pokemon OffCanvas Start -->
    <div class="offcanvas offcanvas-end " tabindex="-1" id="swapPokemonOffCanvas">
        <div class="offcanvas-header bg-primary text-center text-white">
            <i type="button" class="bi bi-arrow-left text-white fs-5" data-bs-toggle="offcanvas"
               data-bs-target="#editTeamOffCanvas"></i>
            <button type="button" class="btn-close" data-bs-toggle="offcanvas" data-bs-target="#editTeamOffCanvas"
                    aria-label="back"></button>
        </div>


        <div class="">
            <div class="p-3 border-bottom">
                <label class="form-label w-100">Search Pokemon
                    <input class="form-control " placeholder="'Enter' to Search" id="pokemonSelect">

                </label>
            </div>
            <div id="renderList">

            </div>
        </div>

        <!-- horz card -->
        <div class="">
            <div class="border-bottom rounded-0 w-100">
                <div class="row g-0 align-items-center">

                    <div class="col-3 col-md-2">
                        <img class="img-fluid horz-card-img "
                             src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/414.png"
                             alt="pokemonImg">
                    </div>
                    <div class="col-5 col-md-6 ">
                        <div class="p-1">
                            <p class="fs-5 fs-sm-5 mb-0">Bidoof</p>

                        </div>
                    </div>
                    <div class="col-4 py-2">
                        <div class=" p-1">
                            <button class="btn btn-primary btn-sm px-0 w-100 py-sm-2 searchedPokemonBtn"
                                    data-bs-toggle="offcanvas" data-bs-target="#editTeamOffCanvas">Select
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- horz card end -->


    </div>
    <!-- Offcanvas End -->
    <!-- Add Pokemon Offcanvas   -->
    <div class="offcanvas offcanvas-end " tabindex="-1" id="addPokemonOffcanvas">
        <div class="offcanvas-header bg-primary text-center text-white">

            <i type="button" class="bi bi-arrow-left text-white fs-5" data-bs-toggle="offcanvas"
               data-bs-target="#editTeamOffCanvas"></i>
            <button type="button" class="btn-close" data-bs-toggle="offcanvas"
                    aria-label="back"></button>
        </div>
        <div class="">
            <div class="p-3 border-bottom">
                <label class="form-label w-100">Search Pokemon
                    <input class="form-control " placeholder="'Enter' to Search" id="pokemonSelect">

                </label>
            </div>
            <div id="renderList">

            </div>
        </div>


    </div>
    <!-- add pokemon offcanvas end -->
    <!-- added pokemon details offcanvas -->
    <div class="offcanvas offcanvas-end d-flex flex-column bg-light  " tabindex="-1" id="addPokemonDetailsOffCanvas">
        <div class="offcanvas-header bg-primary text-center text-white">
            <i type="button" class="bi bi-arrow-left text-white fs-5" data-bs-toggle="offcanvas"
               data-bs-target="#addPokemonOffcanvas"></i>
            <button type="button" class="btn-close" data-bs-toggle="offcanvas"
                    aria-label="back"></button>
        </div>
        <div class="flex-grow-1 d-flex flex-column">
            <div class="px-4">
                <div class="px-5 pt-3">
                    <img src="" class="bg-white img-fluid details-img w-100 border border-dark-subtle rounded" alt="">
                </div>
            </div>
            <div class="text-center">
                <p class="fs-4 fw-medium mt-2 details-name text-capitalize"></p>
            </div>
            <form class="container-fluid d-flex flex-column flex-grow-1">
                <!-- cp button div -->
                <div class="row g-2 btn-group" role="group" aria-label="Pokemon Creature Power Buttons">
                    <div class="col-6">
                        <input type="radio" class="btn-check " id="tierOneCP" name="btnradio" autocomplete="off">
                        <label class="btn btn-outline-primary w-100 " for="tierOneCP">0-1500CP</label>

                    </div>
                    <div class="col-6">
                        <input type="radio" class="btn-check" id="tierTwoCP" name="btnradio" autocomplete="off">
                        <label class="btn btn-outline-primary w-100" for="tierTwoCP">2500+CP</label>

                    </div>
                    <div class="col-6">
                        <input type="radio" class="btn-check" id="tierThreeCP" name="btnradio" autocomplete="off">
                        <label class="btn btn-outline-primary w-100" for="tierThreeCP">2500+</label>

                    </div>
                    <div class="col-6">
                        <input type="radio" class="btn-check" id="tierFourCP" name="btnradio" autocomplete="off">
                        <label class="btn btn-outline-primary w-100" for="tierFourCP">3500+CP</label>

                    </div>
                </div>
                <!-- end -->
                <!-- toggle options -->
                <div class="row g-2 m-2">
                    <div class="">
                        <label class="form-check-label">

                            <input type="checkbox" id="isShadow" class="border-dark-subtle form-check-input">
                            Shadow
                        </label>

                    </div>
                    <div class="">
                        <label class="form-check-label">

                            <input type="checkbox" id="isMega" class="border-dark-subtle form-check-input">
                            Can Mega Evolve
                        </label>
                    </div>
                </div>
                <!-- end -->
                <!-- submit button -->
                <div class="row g-2 mt-auto">
                    <div class="col-12">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#pokemonAddedSuccess" href="#"
                                class="btn btn-primary mb-2 py-2 fs-4 w-100">Add Pokemon
                        </button>
                    </div>
                </div>
                <!-- end -->
            </form>
        </div>
    </div>
    <!-- added pokemon details offcanvas end -->
    <!-- success added pokemon modal -->
    <div class="modal fade" tabindex="-1" id="pokemonAddedSuccess">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header p-3">
                    <h1 class="modal-title fs-5 text-center mx-auto" id="pokemonAddedSuccessTitle">Pokemon Added</h1>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <!-- img -->
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <img class="img-fluid w-100 border rounded"
                                 src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/351.png"
                                 alt="">
                        </div>
                    </div>
                    <!-- RP text -->
                    <div class="text-center">
                        <p class="text-uppercase fw-bold text-tertiary fs-6 mt-2 mb-1">Raid Power</p>
                        <p class="fw-bolder fs-3 text-dark mb-0">318</p>
                    </div>

                </div>
                <div class="modal-footer p-2">
                    <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal"
                            data-bs-toggle="offcanvas">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
    <!-- confirm delete pokemon modal -->
    <div class="modal fade" tabindex="-1" id="confirmDelete">
        <div class="modal-dialog modal-dialog-centered  modal-sm">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="text-center py-2">

                        <p class="fw-bolder fs-3 text-dark mb-0">Are you sure you want to remove this pokemon?</p>
                    </div>

                </div>
                <div class="p-2">

                    <div class="row g-1 g-md-2 p-1">
                        <div class="col12 col-6-md">
                            <button type="button" class="btn btn-danger w-100 text-white"
                                    data-bs-dismiss="modal">Yes
                            </button>
                        </div>
                        <div class="col-12 col-6-md">
                            <button type="button" class="btn btn-outline-secondary w-100"
                                    data-bs-dismiss="modal">No
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
    <!-- confirm Mega Evolve pokemon modal -->
    <div class="modal fade" tabindex="-1" id="confirmMega">
        <div class="modal-dialog modal-dialog-centered  modal-sm">
            <div class="modal-content">

                <div class="modal-body p-2">

                    <div class="text-center py-2">

                        <p class="fw-bolder fs-3 text-dark mb-0">Are you sure you want to Mega Evolve this pokemon?</p>
                    </div>

                </div>
                <div class="p-2">

                    <div class="row g-1 g-md-2 p-1">
                        <div class="col12 col-6-md">
                            <button type="button" class="btn btn-success w-100 text-white"
                                    data-bs-dismiss="modal">Yes
                            </button>
                        </div>
                        <div class="col-12 col-6-md">
                            <button type="button" class="btn btn-outline-secondary w-100"
                                    data-bs-dismiss="modal">No
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal end -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script type="module">
    // create the app
    import app from './AppRaidTeams.js';

    // tell it to run on the div #app
    app.mount('#app2');
</script>

<script src="https://unpkg.com/vue@3/dist/vue.esm-browser.js "></script>


</body>


</html>