*{
    padding: 0;
    margin: 0; 
}

.w-small{
 width: 10%;
 min-width: 40px;
 max-width: 60px;
}

.spacer{
    width: 25px;
}

.fs-tiny{
    font-size: 13px;
    font-weight: 580;
}

.fs-tinyer{
    font-size: 13px;

}

.resize-none{
    resize: none;
}
.horz-card-img{
        width: 80px;
    }
.power-width{
    width: 80px;
}

.movewidth{
    width: 120px;
}

.typegrass{
    background-color: #78C850;
    border-color: #78C850;
}






@media (max-width: 767px){
    .horz-card-img{
        width: 70px;
    }
}

