$primary : #3B2951;
$secondary: #5a6c77;
$card-cap-bg: #EAE4F1;
$light: #F4F1F8;

// e
// 1. Define your base opacity

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    green,
  "info":       #005ea2,
  "warning":    yellow,
  "danger":     red,
  "light":      $light,
  "dark":       black
) 
